
@{
    ViewBag.Title = "generatedoc";
}

<head>
    <style type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <style >
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .mySlides {
            display: none;
        }

        img {
            vertical-align: middle;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @@-webkit-keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @@keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @@media only screen and (max-width: 300px) {
            .text {
                font-size: 11px
            }
        }

        body {
        }

        .container {
            overflow: auto;
        }

        .registration {
            color: black;
            font-size: 40px;
            font-family: Agency FB;
            font-weight: 700;
            border-bottom-style: ridge;
        }

        .row {
        }

        nav.navbar.bootsnav.navbar-fixed {
            overflow: scroll;
            height: 100%;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }

        .a:hover, .dropdown-btn:hover {
            background-color: #009688;
        }
        .b:hover {
            background-color: #009688;
        }

        .w3-teal {
            height: 50px;
        }

        .btn.hover, .dropdown-btn:hover {
            background-color: aqua;
        }

        label {
            font-size: 22px;
        }

        .req.hover {
            background-color: #009688;
        }

        .btn-danger {
            border-radius: 0px;
        }
        /* Style the sidenav links and the dropdown button */
        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }
        /* On mouse-over
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }*/
        /* Add an active class to the active dropdown button */
        .active {
            background-color: #009688;
            color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            /*background-color: #262626;*/
            padding-left: 8px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }
    </style>

</head>


<h2 style="padding-top:50px;padding-left:300px;color:#009688">WELCOME TO LOAN PROVIDER REPORT GENERATOR</h2>
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;height:500px" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">

            Close &times;

        </button>
        <br />
        <button class="dropdown-btn">
            Generate Requests Reports
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href=@Url.Action("pending","HR")>
                <div class="b" >
                   
                    Pending Requests
                    <br />
                    <br />
                </div>
            </a>
            <a href=@Url.Action("accepted","HR")>
                <div class="b">
                    Accepted Requests
                    <br />
                    <br />
                </div>
            </a>
            <a href=@Url.Action("rejected","HR")>
                <div class="b">
                    Rejected Requests
                    <br />
                    <br />
                </div>
            </a>
        </div>
        <br />
        <button class="dropdown-btn">
            Loan Category Reports
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href=@Url.Action("provident","HR")>
                <div class="b">
                    
                    Employees Against Provident Fund
                    <br />
                    <br />
                </div>
            </a>
            <a href=@Url.Action("generalloan","HR")>
                <div class="b"">
                    Employees Against General Loan
                    <br />
                    <br />
                </div>
            </a>

        </div>
        <br />
        <button class="dropdown-btn">
           Provident Fund Reports
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href=@Url.Action("pfautomobile","HR")>
                <div class="b">
                   
                    Automobile Loan
                    <br />
                    <br />
                </div>
            </a>
            <a href=@Url.Action("pfproperty","HR")>
                <div class="b">
                    Property Loan
                    <br />
                    <br />
                </div>
            </a>

        </div>
        <br />
        <br />
        <a href=@Url.Action("defaulter","HR") class="a" style="font-size:18px;padding-left:18px">Defaulter Employees</a><br><br>
        <a href=@Url.Action("AcceptRequestinstal","HR") class="a" style="font-size:18px;padding-left:18px">Generate Installments Report</a><br><br>
        <a href=@Url.Action("employeeloan","HR") class="a" style="font-size:18px;padding-left:18px">Loan History Reports</a><br><br>

    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" style="" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                @*<h3 style="padding-top:50px">LOAN PROVIIDER</h3>*@
            </div>
        </div>

        <div style="display:flex;font-size:0px">
            <div style="padding-right:0px">
                <img style="height:200px;width:290px" src="/images/loan1.jpg">
            </div>
            <div style="padding-left:0px">
                <img style="height:200px;width:285px" src="/images/loan2.jpg">
            </div>
            <div style="padding-left:0px">
                <img style="height:200px;width:280px" src="/images/loan3.jpg">
            </div>
            <div style="padding-left:0px">
                <img style="height:200px;width:290px" src="/images/loan4.jpg">
            </div>
        </div>

        <div class="w3-container">
            <b>
                <p style="font-size:16px ;color: #009688">
                    Syspro is providing interest free loan. Get loan on easy installments<br />
                    View our loan policies, apply for loan, view loan history and loan request status.<br />
                    The employee need to read the instructions and policies properly before applying for loan
                </p>
            </b>
        </div>

    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

</body>
</html>






